.stack__zone_title {
  font-size: 20px;
  font-weight: 700;
  padding-left: 12px;
  padding-bottom: 15px;
}

.stack__zone_icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
