.container {
  width: 100%;
  border-bottom: 1px solid #999;
  padding: 30px 0;
  border-top: 55px solid transparent;
  margin-top: -55px;
  border-top: 55px solid transparent;
  margin-top: -55px;
}

.title__zone_title {
  font-size: 23px;
  font-weight: 700;
  padding-bottom: 30px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media screen and (max-width: 720px) {
  .container {
    padding-top: 60px;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 420px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
