.container {
  width: 100vw;
  height: 60px;
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 380px) {
  .text {
    font-size: 14px;
  }
}
